<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DBUSER" value="hydadm" />
        <add key="DBPASSWORD" value="HyTest$6" />
        <add key="DBCONNECTSTRING" value="cne35db03/HYD1E35" />
        <add key="BAPIHOST" value="cne35db03" />
        <add key="BAPITERMINAL" value="3600" />
        <add key="PORT" value="3000" />
    </appSettings>

    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/restful-server.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>

        <rewrite>
        <rules>
            <rule name="api">
            <match url="bapi/*" />
            <action type="Rewrite" url="dist/restful-server.js" />
            </rule>
            <rule name="fetch">
            <match url="fetch/*" />
            <action type="Rewrite" url="dist/restful-server.js" />
            </rule>
        </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <add value="dist/restful-server.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
