<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/restful-server.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>

    <rewrite>
      <rules>
        <rule name="api">
          <match url="bapi/*" />
          <action type="Rewrite" url="dist/restful-server.js" />
        </rule>
        <rule name="fetch">
          <match url="fetch/*" />
          <action type="Rewrite" url="dist/restful-server.js" />
        </rule>
      </rules>
    </rewrite>

        <defaultDocument>
            <files>
                <add value="dist/restful-server.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
